{% extends "base_generic.html" %}

{% block content %}

<div class="row justify-content-center">
	<div class="form-group col-md-12">
		<div class="jumbotron">
			<legend class="text-center">
				<h3 class="display-4">Criação de Usuário</h3>
			</legend>

			<p class="lead text-center">
                Bem-vindo ao SGWF Gene!
            </p>

			<hr class="my-4">

			Seu cadastro foi enviado! Por favor, aguarde a aprovação da sua conta por parte da nossa equipe.
		</div>
	</div>
</div>

{% endblock %}
